*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black; */
    font-family: calibri;
    /* overflow: hidden; */
}
header{
    height: 66px;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:40px ;
    width: 170px;
    background-image: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg);
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}
.searchbox{
    height: 40px;
    width: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.searchicon{
    height: 100%;
    width: 45px;
    background-color: #F1F3F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.searchbox input{
    height: 100%;
    width: 100%;
    background-color: #F1F3F6;
    border: none;
    font-size: 1.1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.login{
    height: 41px;
    width: 110px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.login:hover{
    background-color: #1c6dca;
    color: white;

}
.rotate:hover{
    transform: rotate(180deg);
    transition-duration: .5s;
}
.cart{
    height: 41px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
}
.cart p{
    margin-left: 5px;
}
.seller{
    height: 41px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
}
.seller p{
    margin-left: 10px;
}
.threedot{
    height: 41px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 50px;
}
.threedot:hover{
    background-color: rgb(248, 248, 248);
    border: .1px solid grey;
    border-radius: 10px;
}

/* MAIN BODY */

.container{
    height: 1000px;
    width: 100%;
    background-color: #F1F3F6;
    padding: 10px;
}
.firstpanel{
    height: 133.33px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 100%;
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-mid{
    height: 100%;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstpanel p{
    font-size: 1.1rem;
    text-align: center;
}
.pic{
    height: 65px;
    width: 65px;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
}
.pic1{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/6a99be02898b225d.jpg?q=100);}
.pic2{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/6c22d4999cdb4144.jpg?q=100);
}
.pic3{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/4a5fb0c8e0461335.jpg?q=100);
}
.pic4{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/2e30d5fac47eff64.jpg?q=100);
}
.pic5{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/46de73feaefc28cd.jpg?q=100);
}
.pic6{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/800e00a6322c6985.jpg?q=100);
}
.pic7{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/8538d487cd2bc8b7.jpg?q=100);
}
.pic8{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/e7947cc0cc4a6b7c.jpg?q=100);
}
.pic9{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/49f31863cc17d101.jpg?q=100);
}
.pic10{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/1400d6186b839cde.jpg?q=100);
}

.secondpanel{
    margin-top: 15px;
    height: 200px;
    width: 100%;
    background-image: url(sale.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.secondpanel i{
    height: 85px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 29%;
}
.left{
    left: -590px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.right{
    right: -590px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}

/* Third Panel */

.thirdpanel{
    height: 300px;
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.thirdpanel h2{
    font-size: 1.5rem;
    height: 64px;
    width: 100%;
}
.panelpic{
    height: 236px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.panelpic p{
    font-size: 1rem;
}
.bold{
    font-weight: bold;
}
.box1{
    height: 225px;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1px solid grey;
}
.pict{
    background-size: cover;
}
.pic11{
    height: 175px;
    width: 135px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/shirt/n/g/t/m-24a5splcq038i-united-colors-of-benetton-original-imah82phsjfmjbfk.jpeg?q=60);
}
.pic12{
    height: 120px;
    width:160px ;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/shoe/l/o/n/7-peshawari-stylelure-brown-original-imagraawy7veyyre.jpeg?q=60);
}
.pic13{
    height: 175px;
    width: 130px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/ethnic-set/y/b/t/xl-hpuvyzwszc-gosriki-original-imahy9kraxh3qcvt.jpeg?q=60);
}
.pic14{
    height: 140px;
    width: 160px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/suitcase/v/9/x/-original-imagt756hjyf3bdk.jpeg?q=60);
}
.pic15{
    height: 165px;
    width: 130px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/thermal/q/n/e/s-1-cott-lad-black-top-fsv-1pc-lux-cottswool-original-imah6k5gs8ffhhum.jpeg?q=60);
}
.pic16{
    height: 150px;
    width: 150px;
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/128/128/image/dfe616dda71c7db8.jpg?q=60);
}