*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: black; */
    font-family: calibri;
    /* overflow: hidden; */
}
header{
    height: 66px;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:40px ;
    width: 170px;
    background-image: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg);
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}
.searchbox{
    height: 40px;
    width: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.searchicon{
    height: 100%;
    width: 45px;
    background-color: #F1F3F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.searchbox input{
    height: 100%;
    width: 100%;
    background-color: #F1F3F6;
    border: none;
    font-size: 1.1rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.login{
    height: 41px;
    width: 110px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.login:hover{
    background-color: #1c6dca;
    color: white;

}
.rotate:hover{
    transform: rotate(180deg);
    transition-duration: .5s;
}
.cart{
    height: 41px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
}
.cart p{
    margin-left: 5px;
}
.seller{
    height: 41px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    cursor: pointer;
}
.seller p{
    margin-left: 10px;
}
.threedot{
    height: 41px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 50px;
}
.threedot:hover{
    background-color: rgb(248, 248, 248);
    border: .1px solid grey;
    border-radius: 10px;
}

/* MAIN BODY */

.container{
    height:3500px;
    width: 100%;
    background-color: #F1F3F6;
    padding: 10px;
}
.firstpanel{
    height: 133.33px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box{
    height: 100%;
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-mid{
    height: 100%;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.firstpanel p{
    font-size: 1.1rem;
    text-align: center;
}
.pic{
    height: 65px;
    width: 65px;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
}
.pic1{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/6a99be02898b225d.jpg?q=100);}
.pic2{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/6c22d4999cdb4144.jpg?q=100);
}
.pic3{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/4a5fb0c8e0461335.jpg?q=100);
}
.pic4{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/2e30d5fac47eff64.jpg?q=100);
}
.pic5{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/46de73feaefc28cd.jpg?q=100);
}
.pic6{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/800e00a6322c6985.jpg?q=100);
}
.pic7{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/8538d487cd2bc8b7.jpg?q=100);
}
.pic8{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/e7947cc0cc4a6b7c.jpg?q=100);
}
.pic9{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/49f31863cc17d101.jpg?q=100);
}
.pic10{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/96/96/image/1400d6186b839cde.jpg?q=100);
}

.secondpanel{
    margin-top: 15px;
    height: 200px;
    width: 100%;
    background-image: url(sale.webp);
    background-size: cover;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.secondpanel i{
    height: 85px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 29%;
}
.left{
    left: -590px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.right{
    right: -590px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

}

/* Third Panel */

.mainthird{
    height:310px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.thirdpanel{
    height: 100%;
    width: 82.5%;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.ad{
    height: 100%;
    width:210px;
    margin-top: 15px;
    padding: 5px;
    background-image: url(1adf7701bd3c35d7.webp);
    background-size: cover;
    cursor: pointer;
}
.panelpic{
    height: 236px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -10px;
}
.panelpic p{
    font-size: 1rem;
}
.bold{
    font-weight: bold;
}
.box1{
    height: 225px;
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1px solid rgb(227, 224, 224);
    border-radius: 5px;
    cursor: pointer;
}
.pict{
    background-size: cover;
}
.pic11{
    height: 175px;
    width: 135px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/shirt/n/g/t/m-24a5splcq038i-united-colors-of-benetton-original-imah82phsjfmjbfk.jpeg?q=60);
}
.pic11:hover{
    height: 178px;
    width: 138px;
}
.pic12{
    height: 120px;
    width:160px ;
    margin-bottom: 52px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/shoe/l/o/n/7-peshawari-stylelure-brown-original-imagraawy7veyyre.jpeg?q=60);
}
.pic12:hover{
    height: 123px;
    width: 163px;
}
.pic13{
    height: 175px;
    width: 130px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/ethnic-set/y/b/t/xl-hpuvyzwszc-gosriki-original-imahy9kraxh3qcvt.jpeg?q=60);
}
.pic13:hover{
    height: 178px;
    width: 133px;
}
.pic14{
    height: 140px;
    width: 160px;
    margin-bottom: 37px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/suitcase/v/9/x/-original-imagt756hjyf3bdk.jpeg?q=60);
}
.pic14:hover{
    height: 143px;
    width: 163px;
}
.pic15{
    height: 165px;
    width: 130px;
    margin-bottom: 13px;
    background-image: url(https://rukminim1.flixcart.com/image/128/128/xif0q/thermal/q/n/e/s-1-cott-lad-black-top-fsv-1pc-lux-cottswool-original-imah6k5gs8ffhhum.jpeg?q=60);
}
.pic15:hover{
    height: 168px;
    width: 133px;
}
.head{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.head i{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 50%;
    font-size: 1rem;
}.head h2{
    font-size: 1.5rem;
}

/* 4th panel */

.mainforth{
    height: 510px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.forthpanel{
    padding: 15px;
    height: 100%;
    width: 410px;
    background-color: white;
    display: flex;
    flex-direction: column;

}
.forthpanel_pic{
    height: 100%;
    width: 410px;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.box2{
    height: 212px;
    width: 185px;
    border: .1px solid rgb(227, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pictu{
    height: 155px;
    width: 130px;
    background-size: cover;
}
.pictu:hover{
    height:158px;
    width: 133px;
}
.pic16{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/slipper-flip-flop/j/x/d/-original-imagqxvbe7fcjhsj.jpeg?q=60);
}
.pic17{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/shoe/h/d/c/7-grey-7-roaster-grey-original-imah8bzkdjupgaa5.jpeg?q=60);
}
.pic18{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/shopsy-trimmer/p/a/h/trimmer-1-4-mm-stainless-steel-t9-cordless-electric-blade-hair-original-imah5tgwrymv7skt.jpeg?q=60);
}
.pic19{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/jacket/p/4/l/4xl-no-mt2-jkt-hood-windc-gone-white-red-strip-motrex-original-imah4kj2vgqcnd3e.jpeg?q=60);
}
.pic20{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/shopsy-cup-saucer/c/i/p/cups-006-apeiron-original-imah4fv5aktg2hhf.jpeg?q=60);
}
.pic21{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/solar-light-set/i/l/f/-original-imah88egyhr9b3jb.jpeg?q=60);
}
.pic22{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/book-shelf/l/o/c/28-carbon-steel-58-1-2-4-layer-maron-11-attache-72-maroon-4-original-imah3g43ggzpyabr.jpeg?q=60);
}
.pic23{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/kerfl3k0pkrrdj/floor-furnishing/h/h/b/carpet-008-red-n-hot-original-imafvhj8hjyerxrh.jpeg?q=60);
}

.content p{
    font-size: 1.2rem;
}
.bold1{
    font-weight: bold;
    color: rgb(24, 105, 24);
}

/* fifth panel */

.fifthpanel{
    height: 270px;
    width: 100%;
    margin-top: 10px;
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/940/200/image/1f87b4f67193d072.jpg?q=60);
    background-size: cover;
    cursor: pointer;
}

/* sixth panel */

.sixthpanel{
    height: 220px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
.img{
    height: 100%;
    width: 405px;
    background-size: cover;
    cursor: pointer;
}
.pic24{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/3aa6feede520f158.jpg?q=60);
}
.pic25{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/f9c6194cb85e9e6c.jpg?q=60);
}
.pic26{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/535433b694119da2.jpg?q=60);
}

/* seventh panel */

.img1{
    height: 140px;
    width: 145px;
    background-size: cover;
}
.img1:hover{
    height:143px;
    width: 148px;
}

.pic27{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/chopper/r/l/p/3-stainless-steel-blade-powerful-mini-handy-quick-450-ml-chopper-original-imagzufvcjsugfs8.jpeg?q=60);
}
.pic28{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/lunch-box/m/s/y/1500-rectangular-classy-3-section-lunch-box-with-1-spoon-1-fork-original-imagz2ncvgfeg5xv.jpeg?q=60);
}
.pic30{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/pressure-cooker/x/i/l/no-3-5506-greenchef-original-imah5eznstszgahp.jpeg?q=60);
}
.pic29{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/collapsible-wardrobe/2/w/x/280-carbon-steel-570-1-4-eem-4-firozi-eemway-firozi-730-original-imaghtr8aghtugdf.jpeg?q=60);
}
.pic30{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/pressure-cooker/x/i/l/no-3-5506-greenchef-original-imah5eznstszgahp.jpeg?q=60);
}

.pic31{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/shirt/e/a/9/s-box01-jackbella-original-imah3erzgqwcxck9.jpeg?q=60);
}
.pic32{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/t-shirt/g/e/r/s-white-abhitrends-original-imah7ayjbynau2qx.jpeg?q=60);
}
.pic33{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/jacket/d/c/k/xl-1-no-multicolor-part-3-azmani-original-imah5686b3gygbrz.jpeg?q=60);
}
.pic34{
    background-image: url(https://rukminim2.flixcart.com/image/360/360/xif0q/kurta/1/u/e/xl-1118-ravendra-creation-original-imag72kfjnzsupt2-bb.jpeg?q=60);
}

/* eighth panel */

.pic36{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/fd50e5f04dcc51c0.jpg?q=60);
}
.pic37{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/9ddf77ddb340b5a8.png?q=60);
}
.pic38{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/6b314cfff312cb7a.jpg?q=60);
}

/* ninth panel */

.pic39{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/ac08848171d5f6db.jpg?q=60);
}
.pic40{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/e25f155035a2b662.jpg?q=60);
}
.pic41{
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/280/160/image/4ddd4a135657a6e4.jpeg?q=60);
}

/* tenth panel */

.tenthpanel{
    height: 320px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.panel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.picture{
    height: 100px;
    width: 120px;
    background-size: cover;
    margin-bottom: 60px;
}
.pic42{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/xif0q/usb-gadget/k/h/9/sd-tf-cards-reader-2-usb-3-0-ports-bestor-original-imaghgw3ahqbjabe.jpeg?q=60);
}
.pic43{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/xif0q/keyboard/laptop-keyboard/k/9/t/key7-combo-keyboard-mouse-combo-set-with-2-4ghz-1200-dpi-original-imagvr8csghzsvn6.jpeg?q=60);
}
.pic44{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/xif0q/monitor/j/l/z/-original-imagydnqbzayjxyz.jpeg?q=60);
}
.pic45{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/xif0q/printer/0/l/1/-original-imags2yrq3eeetyz.jpeg?q=60);
}
.pic46{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/l0lbrm80/inktoner/k/c/e/-original-imagccgm25cgeqgs.jpeg?q=60);
}
.pic47{
    background-image: url(https://rukminim2.flixcart.com/image/128/128/xif0q/monitor/9/g/s/-original-imagu3zrqukzdv7f.jpeg?q=60);
}
.panel p{
    margin-top: px;
}

/* footer */

footer{
    height: 350px;
    width: 100%;
    background-color:  #100e0c;
}